// $font-family: Luam, 'Courier New', Courier, 'Open Sans', sans-serif;
// $font-size: 20px;

// $font-family: 'Courier New', Courier, 'Open Sans', sans-serif;

// $font-family: Courier, 'Open Sans', sans-serif;
$font-family: 'Open Sans', sans-serif;
$font-size: 16px;

// $font-family: 'Luam';

$breakpoint: 50rem;

// light
$text-primary-rgb: 199 170 139;
$text-primary: rgb($text-primary-rgb);

// dark
$text-secondary-rgb: 64 64 64;
$text-secondary: rgb($text-secondary-rgb);

// dark
$bg-primary-rgb: 50 50 50;
$bg-primary: rgb($bg-primary-rgb);

// light
$bg-secondary-rgb: 228 208 186;
$bg-secondary: rgb($bg-secondary-rgb);

$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;
