<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
  <div id="homepage">
    <div class="banner">
      <div class="container">
        Take care of your retirement and your employees with a Safe Harbor 401(k). Start today with no plan fees for 1 month.1
      </div>
    </div>
    <main id="main">
      <section id="header">
        <div class="header__split container stretch">
          <h1 class="header__logo">
            Guideline
          </h1>
          <nav role="navigation" class="header__nav">
            <ul>
              <li class="nav-link" aria-haspopup="true">
                <a class="ws-nowrap" href="#">
                  Products<i class="chevron-down ml-2"></i>
                </a>
                <ul aria-label="submenu" class="dropdown">
                  <li class="nav-link"><a href="/401k">401(k)</a></li>
                  <li class="nav-link"><a href="/sep-ira">SEP IRA</a></li>
                  <li class="nav-link"><a href="/advisors">Guideline for Advisors</a></li>
                  <li class="nav-link"><a href="/accountants">Guideline for Accountants</a></li>
                </ul>
              </li>
              <li class="nav-link"><a href="/pricing">Pricing</a></li>
              <li class="nav-link"><a href="/integrations">Integrations</a></li>
              <li class="nav-link">
                <a class="ws-nowrap" href="#">
                  Resources<i class="chevron-down ml-2"></i>
                </a>
                <ul class="dropdown" aria-label="submenu">
                  <li class="nav-link"><a href="/investments">Investments</a></li>
                  <li class="nav-link"><a href="/blog">Blog</a></li>
                  <li class="nav-link"><a href="/company">About Us</a></li>
                  <li class="nav-link"><a href="/careers">Careers</a></li>
                  <li class="nav-link"><a href="/success">Help Center</a></li>
                </ul>
              </li>
              <li class="nav-btn ml-3">
                <a class="btn" href="/login">
                  Log In
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </section>

      <section id="hero" class="padded-lr">
        <div class="container">
          <div class="hero__text">
            <h2>
              The easy,
              <br>
              affordable
              <br>
              retirement platform
              <br>
              for small businesses
            </h2>
          </div>
        </div>
      </section>

      <section id="hero-form" class="padded-lr container wide">
        <div class="hf">
          <div class="hf__title">
            <strong>
              Let's get stated
            </strong>
          </div>
          <form class="hf__form">
            <div class="hff__input-wrapper">
              <input
                placeholder="Work email address"
                type="email"
                name=""
              >
            </div>

            <div class="hff__input-wrapper">
              <select id="desired_product_category" name="country">
                <option value="" disabled="">Who is this retirement plan for?</option>
                <option value="business">My Business</option>
                <option value="clients">My Clients</option>
                <option value="individual">Myself</option>
              </select>
            </div>

            <div class="hff__submit">
              <button
                type="submit"
              >
                <i class="chevron-right"></i>
              </button>

            </div>
          </form>
        </div>
      </section>

      <section id="product-intro" class="container padded-lr padded-ud">
        <h3 class="pi__heading notch">
          Creating a roadmap to retirement
        </h3>
        <p class="pi__description">
          We’ve made it our mission to help everyone arrive at a safe, secure
          retirement, whether you’re a small business owner, an employee, or
          self-employed. Our platform takes complexity and doubt out of
          retirement planning and replaces it with knowledge and clarity—so
          you can invest in your financial future with confidence.
        </p>
      </section>

      <section id="product-hooks" class="container wide padded-lr padded-ud">
        <h3 class="ph__heading notch">
          The new rules of retirement savings:
          <br>
          Simple. Seamless. Smart.
        </h3>
        <div class="ph__modules">
          <div class="ph__module">
            <h4>Simple plan management</h4>
            <p>
              We handle plan administration, employee onboarding, government
              filings, and more. So you can offer a work benefit without all the
              added paperwork.
            </p>
            <a href="/401k">Features<i class="chevron-right"></i></a>
          </div>

          <div class="ph__module">
            <h4>Seamless payroll integration</h4>
            <p>
              Our investment portfolios rebalance automatically to help you stay
              on track for retirement.
            </p>
            <a href="/integrations">Features<i class="chevron-right"></i></a>
          </div>

          <div class="ph__module">
            <h4>Smart investing</h4>
            <p>
              With API payroll integration, we can securely sync employee data,
              track 401(k) eligibility, and process deductions—saving you time
              and hassle each pay run.
            </p>
            <a href="/investments">Features<i class="chevron-right"></i></a>
          </div>
        </div>
      </section>
    </main>
  </div>
<body>
</body>
</html>
