<img src="../assets/img/road-1072821_1280.jpg">
<section class="topbar">
  <div class="topbar__brand">
    {{!-- {{brand}} --}}
  </div>
  <div class="topbar__navbar">
    {{!-- {{> navbar }} --}}
  </div>
</section>
